<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                    <%= config.subtitle %>
                <% } else { %>
                    subtitle
                <% } %>
            </div>

            <div class="description center-align">
                <% if (config.description && config.description.length > 0) { %>
                    <%= config.description %>
                <% } else { %>
                    This is your root _config.yml 'description' value.
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
// 每天切换 banner 图.  Switch banner image every day.
//$('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
var imageHosting = ["https://s2.ax1x.com/2019/05/12/EhDEt0.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhDAkq.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhDF7n.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhDi0s.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhD9XQ.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhDp6g.jpg",
                    "https://s2.ax1x.com/2019/05/12/EhBvff.jpg"];
$('.bg-cover').css('background-image', 'url(imageHosting[new Date().getDay()])');
alert(imageHostings[0]);
</script>